* {
padding: 0;
margin: 0;
}

.accordion {
    background-color: darkred;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  #app {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-auto-rows: auto;
      gap: 2rem;
  }

  article {
      border: solid 3px #777;
      border-radius: 2px;
  }
 .restaurant-card {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }
  
  .restaurant-card div {
      height: 16rem;
      background-size: cover;
      background-position: center top;
  }
 
  .restaurant-card footer {
      display: flex;
      justify-content: end;
      flex: 1 1 auto;
  }

  .restaurant-card footer h2 {
      flex: 1 1 auto;
  }

  .restaurant-card footer button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }

  .accordion:after {
    content: '\02795'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; 
  }
  
  
  .panel {
  padding: 0 18px;
  background-color: darkred;
  color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  }

img {
    max-width: 100%;
}



.modal-button {
    cursor: pointer;
}

.modal-button:hover {
    color: #4abd3e;
}

.modal-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-bg > article {
    height: 33vh;
    width: 33vw;
    background-color: #0d563b;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.modal-bg > article > main {
    flex: auto;
}

.modal-bg > article > footer {
    display: flex;
    justify-content: space-between;
    padding: 0;
}


header {
background-color: #0d563b;
border: solid 3px #777;
color: white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 45px;


}

main {
    background-color: darkred;
    border: solid 3px #777;
    color: white;
    
}

footer {
    background-color: #0d563b;
    border: solid 3px #777;
    color: white;
}

aside {
    background-color: darkred;
    border: solid 3px #777;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

form {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
}

aside button {
    width: 12rem;
}

#page {
    display: grid;
    grid-template-areas: 
    "header header header header"
    "aside main main main"
    "aside main main main"
    "footer footer footer footer"
    ;
    min-height: 100vh;
}



.links {
    margin-bottom: 20px;
    background: #0d563b;
    padding: 15px;
    border-radius: 3px;
}

.links ul {
justify-content: center;
}

.links ul li{
    margin: 0 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    cursor: pointer;
}

.links ul li:hover{
    color: #4abd3e;
}
